[Unit]
Description=A Spotify connect daemon
Wants=sound.target
After=sound.target
Wants=network-online.target
After=network-online.target

[Service]
User=user
Type=simple
ExecStart=/usr/bin/librespot --name PlasticPlayer3
Restart=always
RestartSec=5
StandardOutput=file:/var/log/spotifyd.log
StandardError=file:/var/log/spotifyd.error.log

[Install]
WantedBy=multi-user.target
